<html ng-app="myApp" manifest=""app.manifest">
<body>
<div ng-controller="myController">
<p ng-repeat="obj in personList">
{{obj.Name}} : {{obj.Age}}
</p>
</div>

<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript">
angular.module('myApp',[]);

(function() {
    'use strict';
    angular.module('myApp').controller('myController', myController);

    function myController($scope, $http) {
        var person = { Country : 'ID', Names: 'Frendy', Age : 61 };
		var person2 = { Country : 'USA', Name: 'Frendy', Age : 33 };

        var req = {
            method: 'GET',
            url: 'http://localhost:57976/api/Person',
            params: person
        }
		
		var post = {
            method: 'POST',
            url: 'http://localhost:57976/api/Person',
			headers: { 'Content-Type': 'application/json; charset=utf-8' },
            data: person2
        }

        $http(req)
		.then(function(response) {
		    console.log(response.data);
		})
		.then(function(response) {
		});
		
		$scope.personList = [];
		$http(post)
		.then(function(response) {
		     $scope.personList.push(response.data);
		})
		.then(function(response) {
		});
    }

})();

</script>

</body>
</html;